.Hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/book\ and\ flower.jpg");
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
}

.Hero h1 {
  padding: 40px 0px;
  font-size: 50px;
  font-family: "Bad Script", cursive;
  color: white;
}

@media (max-width: 640px) {
  .Hero {
    height: 150px;
  }
  .Hero h1 {
    padding: 30px 0px;
    font-size: 30px;
  }
}
