.App {margin:20px auto;
text-align: center;
padding:0px 100px}
.Hero {background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/396/original/book_and_flower.jpg?1679659777");
     height:200px;
    background-size:cover;
background-position: center;
background-repeat: no repeat;}

.Hero h1{padding:40px 0px;
    font-size:50px;
    font-family: 'Bad Script', cursive;
color:white}

.App .Search{
margin:0px auto;
border: 2px solid rgb(27 51 2);
margin-top:20px;
padding-bottom:20px;
background-color:rgb(246 241 228)}

.App footer{margin:40px 0px;
padding:20px 20px;
background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/book\ and\ flower.jpg");
    background-size:cover;
background-position: center;
background-repeat: no repeat;
color:white;
font-size:20px;
font-family: 'Bad Script', cursive;}

.App footer a{color:rgb(239 211 242);
letter-spacing: 7px;}

.App h2{font-family: 'Bad Script', cursive;}