.Hero header{background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/book\ and\ flower.jpg");
     height:200px;
    background-size:cover;
background-position: center;
background-repeat: no repeat;
color:white}

.Hero h1{padding:40px 0px;
    font-size:50px;
    font-family: 'Bad Script', cursive;}
