.Hero {background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/396/original/book_and_flower.jpg?1679659777");

    background-size:cover;
background-position: center;
background-repeat: no repeat;
color:white;}

.Hero h1{padding:40px 0px;
    font-size:50px;
    font-family: 'Bad Script', cursive;}
